<!DOCTYPE html>
<html>
  <head>
    <title>LNURLp chatbot</title>
  </head>
  <body style="background-color: #000">
    <audio id="myAudio">
      <source src="/static/kaching.mp3" type="audio/mpeg" />
    </audio>
    <center>
      <small id="error"></small>
      <br /><br /><br /><br />
      <div id="messages"></div>
      <div
        id="qrcode"
        style="position: absolute; bottom: 10px; width: 100%"
      ></div>
    </center>

    <script>
      var source = new EventSource("{{ url_for('sse.stream') }}");
      var messagearray = [];
      var colorarray = ["#FFFFFF", "#939597", "#414042"];
      var messagestr = "";
      source.addEventListener(
        "greeting",
        function (event) {
          var data = JSON.parse(event.data);
          //messagearray.pop();
          var messagetemp = data.message;
          if (messagetemp == null) {
            messagetemp = "Donation with no message!";
          }
          messagearray.unshift(messagetemp);
          for (i = 0; i < messagearray.length; i++) {
            messagestr +=
              "<h1 style='font-size:50px; font-family: Arial, Helvetica, sans-serif; color:" +
              colorarray[i] +
              ";'>" +
              messagearray[i] +
              "</h1>";
            if (i == 2) {
              messagearray.shift();
              i = messagearray.length;
            }
          }
          document.getElementById("messages").innerHTML = messagestr;
          messagestr = "";
          document.getElementById("myAudio").play();
        },
        false
      );
      source.addEventListener(
        "lnurlevent",
        function (event) {
          var data = JSON.parse(event.data);
          //messagearray.pop();
          var LNURL = data.lnurl;
          document.getElementById("qrcode").innerHTML =
            "<img src='/qr/" + LNURL + "'>";
        },
        false
      );
      source.addEventListener(
        "error",
        function (event) {
          document.getElementById("error").innerHTML =
            "Failed to connect to event stream. Is Redis running?";
        },
        false
      );
    </script>
  </body>
</html>
